.ns-editable-table {
    .ns-editable-table__table {
        border: 1px solid grey;
    }

    .ns-editable-table__table {
        border-collapse: collapse;
    }

    .ns-editable-table__datum {
        border: 1px solid grey;
        padding: 2px;
        outline: none;
    }

    .ns-editable-table__datum--selected {
        border: 1px solid lightskyblue;
        box-shadow: inset 0 0 0 1px lightskyblue;
    }

    .ns-editable-table__datum--invalid {
        border: 1px solid lightcoral !important;
    }

    .ns-editable-table__datum--highlighted {
        background-color: lightblue;
    }
}
