<div class="ns-editable-table">
    <table class="ns-editable-table__table" tabindex="0" (paste)="onPaste($event)" (copy)="onCopy($event)"
        (mouseleave)="onMouseLeave()">
        <tr *ngFor="let rowIndex of range(rowsNumber)" class="ns-editable-table__table-row">
            <td *ngFor="let colIndex of range(colsNumber)" tabindex="1" class="ns-editable-table__datum "
                [class.ns-editable-table__datum--selected]="data[rowIndex][colIndex].isSelected"
                [class.ns-editable-table__datum--invalid]="!data[rowIndex][colIndex].isValid"
                [class.ns-editable-table__datum--highlighted]="data[rowIndex][colIndex].isHighlighted"
                (focus)="onDatumFocus(rowIndex, colIndex)" (dblclick)="onDatumDblClick(rowIndex, colIndex)"
                (mousedown)="onDatumMouseDown(rowIndex, colIndex)" (mouseup)="onDatumMouseUp()"
                (mouseover)="onDatumHover(rowIndex, colIndex)">
                <app-datum-input [isDisabled]="data[rowIndex][colIndex].isDisabled"
                    [(value)]="data[rowIndex][colIndex].value">
                </app-datum-input>
            </td>
        </tr>
    </table>
</div>